Mattelsa.Vista/Connected Services/MattelsaService/MattelsaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58457/MattelsaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mattelsa.Modelo" />
  <xs:element name="ConfigurarConexion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfigurarConexionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mattelsa.Modelo" minOccurs="0" name="vehiculo" nillable="true" type="q1:Vehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarTipo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarTipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mattelsa.Modelo" minOccurs="0" name="CargarTipoResult" nillable="true" type="q2:ArrayOfTipoVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarEmpleados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarEmpleadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mattelsa.Modelo" minOccurs="0" name="CargarEmpleadosResult" nillable="true" type="q3:ArrayOfEmpleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mattelsa.Modelo" minOccurs="0" name="CargarEmpleadoResult" nillable="true" type="q4:ArrayOfVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarPlaca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarPlacaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mattelsa.Modelo" minOccurs="0" name="CargarPlacaResult" nillable="true" type="q5:Vehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarCelda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Mattelsa.Modelo" minOccurs="0" name="celda" nillable="true" type="q6:Celda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarCeldaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarCelda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarCeldaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Mattelsa.Modelo" minOccurs="0" name="CargarCeldaResult" nillable="true" type="q7:ArrayOfCelda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>